@import "tailwindcss";


@theme inline {
  --color-darkred: #a6192e;
}

.uhsbg {
  background-image: url("/uhsimg.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-color: rgb(114, 112, 112);
  background-blend-mode: multiply;

}

html,
body {
  overflow-x: clip;
  overscroll-behavior-x: none;
  /* Prevent horizontal scrolling */
  /* overflow-y: auto; */
  /* Ensure vertical scrolling when necessary */
  height: auto;
  width: 100%;
}